extends layouts/layout

block title
    | Home

block styles
    link(href="/css/index.css", rel="stylesheet")

block content
    article#index(role="index")
        div.jumbotron
            h1 Welcome, stranger!
            p The Node.js Playground is the place in where node-related technologies are tested and showcased. Let the fun begin!

        h2 Libraries, modules or frameworks used

        table.table.table-bordered.table-hover
            thead
                tr
                    th.col-md-2 Name
                    th Version
                    th Description
            tbody
                each dependency in dependencies
                    tr
                        td: a(href="#{dependency.url}") #{dependency.name}
                        td #{dependency.version}
                        td #{dependency.description}

