extends layouts/layout

block scripts
    script(src='/js/youtube-player.js')

block inlineScripts
    script.
        require('/js/youtube-player.js')();

block content
    article#index(role="index")
        h1 YouTube Player!