inline()
    display inline-block
    *display inline
    zoom 1
    vertical-align arguments
    
#youtube-video-player
    //height 494px
    background #fff
    padding 1px 10px 20px

    .tv-player-header
        height 44px
        color #f94400

    .video-player
        inline(top)
        width 799px
        height 450px
        background-color #000

    .playlist
        inline(top)
        width 214px
        height 450px

        .scroll-button
            display block
            text-align center
            margin 0 auto

        .scroll-button-up,
        .scroll-button-down
            width 167px
            height 32px

            &:hover
                background-position 0 -32px

            &.disabled
                background-position 0 -94px

        .scroll-button-up
            margin-top 6px

        .scroll-button-down
            margin-top 9px

        ul
            //height 362px
            height 450px
            overflow-y scroll
            list-style none
            //width 208px
            width 320px
            position relative

            li
                position relative
                margin-left 4px
                margin-bottom 4px
                //height 50px

                &.last
                    margin-bottom 0
                    padding-bottom 0
                
                &:hover
                    a
                        background-color #f94400

                &.active
                    a
                        background-color #00ffaa
                    h4
                        color #1a1a1a

                a
                    display block
                    //padding-left 4px
                    //height 50px

                    img
                        //width 64px
                        inline(middle)
                    h4
                        inline(middle)
                        font-size 1em
                        width 119px
                        padding-left 10px
                        //padding 5px 0 5px 10px
