inline()
    display inline-block
    *display inline
    zoom 1
    vertical-align arguments
    
#youtube-video-player
    width 854px
    height 457px
    background #fff

    .tv-player-header
        height 44px

    .video-player
        inline(top)
        width 640px
        height 360px
        background-color #000

    .playlist
        inline(top)
        width 214px

        .scroll-button
            display block
            text-align center
            margin 0 auto

        .scroll-button-up,
        .scroll-button-down
            width 167px
            height 32px

            &:hover
                background-position 0 -32px

            &.disabled
                background-position 0 -94px

        .scroll-button-up
            margin-top 6px

        .scroll-button-down
            margin-top 9px

        ul
            height 323px
            overflow-y hidden
            list-style none
            width 208px
            position relative

            li
                position relative
                padding-top 4px
                background url(img('moshitv/playlist-video-entry-bg.png')) no-repeat 0 0
                margin-left 4px
                height 50px

                &.last
                    margin-bottom 0
                    padding-bottom 0
                
                &:hover
                    a
                        background-color #2e009b

                &.active
                    a
                        background-color #00ffaa
                    h4
                        color #1a1a1a

                a
                    display block
                    padding-left 4px
                    height 50px

                    img
                        width 64px
                        inline(middle)
                    h4
                        inline(middle)
                        font-family Karla, sans-serif
                        font-size 0.75em
                        color #fff
                        width 119px
                        padding 5px 0 5px 10px